<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(assets/homeimages/HomeImageLarge.jpg);">
  <div class="container">
    <h1 id="textshadow">TradeFlora<sup>beta</sup></h1>
    <p>Um programa que promove a compensação florestal</p>
     <%= link_to "Áreas disponíveis", areas_path, class: "btn btn-success button-light-shadow" %>
  </div>
</div>
<div style="text-align: justify;">
<p class="pt-4">
O programa TRADEFLORA surge como uma estratégia para disseminar a formalização de parcerias entre detentores de áreas que precisam ser recuperadas e interessados em encontrar áreas de plantio pelos mais diversos motivos. Este projeto tem como objetivo inovar e aprimorar a execução da compensação da vegetação nativa desmatada, contribuindo diretamente para o avanço da Agenda 2030 nos seguintes quesitos: 1) conservação da biodiversidade; 2) operacionalização de instrumentos de mitigação das mudanças climáticas, como redução da perda líquida de florestas, pagamentos por serviços ambientais e sequestro de carbono; 3) proteção de mananciais; 4) promoção de maior coerência entre as políticas ambientais e de desenvolvimento econômico; e 5) incentivo a parcerias público-privadas e multissetoriais, em diversas escalas, para viabilizar o crescimento da infraestrutura nacional com menores impactos ambientais. 
</p>
</div>

