<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(assets/homeimages/HomeImageLarge.jpg);">
  <div class="container">
    <h1 id="textshadow">TradeFlora<sup>beta</sup></h1>
    <p>Um programa que promove a compensação ambiental</p>
     <%= link_to "Áreas disponíveis", areas_path, class: "btn btn-success button-light-shadow" %>
  </div>
</div>


